PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=QzGnpA8RlXmYA4rwWs2VPCJlupFJGfY9
DRIVE_DISK=local

DB_CONNECTION=mysql

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=bhayron
MYSQL_PASSWORD=secret123
MYSQL_DB_NAME=introdb
